.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background-color: cadetblue;

}

.leftCounter {
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 400px;
    background-color: aqua;
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 15px;
}

.rightCounter {
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 400px;
    background-color: palevioletred;
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 15px;
}

.tuner {
    margin-bottom: 20px;
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setBTN {
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.quantity {
    margin-bottom: 20px;
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counterBTNS {
    border: 3px solid rebeccapurple;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.leftBTN {
    font-size: 23px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: yellow;
    border: 3px solid rebeccapurple;
}

.incRightBTN {
    font-size: 23px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: yellow;
    border: 3px solid rebeccapurple;
}

.resetRightBTN {
    margin-left: 60px;
    font-size: 23px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: yellow;
    border: 3px solid rebeccapurple;
}

.number {
    color: black;
    font-size: 40px;
}

.numberLast {
    color: red;
    font-size: 40px;
}

.maxValueInput {
    width: 40px;
    height: 25px;
    background-color: lawngreen;
    border: 3px solid rebeccapurple;
    border-radius: 9px;
    font-weight: bold;
    font-size: 20px;
}

.startValueInput {
    width: 40px;
    height: 25px;
    background-color: lawngreen;
    border: 3px solid rebeccapurple;
    border-radius: 9px;
    font-weight: bold;
    font-size: 20px;
}

.startValueText {
    font-size: 30px;
    padding-right: 30px;
}

.maxValueText {
    font-size: 30px;
    padding-right: 30px;
}

.errorStartValueInput {
    width: 40px;
    height: 25px;
    background-color: red;
    border: 3px solid firebrick;
    border-radius: 9px;
    font-weight: bold;
    font-size: 20px;
}

.stringStyle {
    color: black;
    font-size: 22px;
}

.errorString {
    color: red;
    font-size: 22px;
}